checkpoints
data
__pycache__/
.pytest_cache
.ruff_cache
.log
.vscode/

# Unit Tests & Coverage Reports
.coverage
.coverage.*
coverage.xml
junit.xml
htmlcov/
uv.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
